/* 

.MainContainer {
    border: 1px solid red;
    height:100vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    float: right;
}


.ItemsContainer {
    border: 1px solid blue;
    width: 600px;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: grabbing;
    
}

.item  {
    display: table-row;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: gray;
    border: 1px solid black;
    
}

.item2 {

    display: table-cell;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: lightgray;
    border: 1px solid black;
}

.activeClass {
    background-color: lightblue;
    cursor: grabbing;
}
 */


.MainContainer {
    height: 100vh;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;;
}


.ItemsContainer {
    width: 600px;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: grabbing;
    user-select: none;
}


.item {
    display: table-row;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: gray;
    

}

.item2 {

    display: table-cell;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: lightgray;
    
}

.item .item2 {
    height: 100%;
    width: 100%;
}

.activeClass {
    background-color: lightblue;
    cursor: grabbing;
}

.card{
    height: 200px;  
    width: 300px;
    user-select: none !important;
}

.card .img {
    width: 100%;
    height: 100%;
}

.img {
    object-fit: cover !important;
    user-select: none !important;
}