*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

.MainContainer {
    border: 1px solid red;
    height:100vh;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    float: right;
}


.ItemsContainer {
    border: 1px solid blue;
    width: 600px;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: grabbing;
    
}

.item  {
    display: table-row;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: gray;
    border: 1px solid black;
    
}

.item2 {

    display: table-cell;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: lightgray;
    border: 1px solid black;
}

.activeClass {
    background-color: lightblue;
    cursor: grabbing;
}
 */


.MainContainer {
    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 60px;
}


.ItemsContainer {
    width: 600px;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}


.item {
    display: table-row;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: gray;
    user-select: none;
    margin: 0;
    padding: 0;

}

.item2 {

    display: table-cell;
    flex-direction: column;
    height: 200px;
    width: 300px;
    background-color: rgb(231, 230, 230);
    margin: 0;
    padding: 0;
    
}

.item .item2 {
    height: 100%;
    width: 100%;
}

.activeClass {
    background-color: lightblue;
    cursor: grabbing;
}

.card{
    height: 200px;  
    width: 300px;
    user-select: none;
}

.card .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img {
    object-fit: cover ;
    user-select: none ;
    pointer-events: none;
}

.number{
    position: absolute;
    padding: 10px;
    font-size: 24px;
    color: white;
    user-select: none;
    font-weight: bold;
}


 .one{
    left: 2px;
    float: left;
    top: 13%;
}

.two{
    top: 32%;
    right: 2px;
    float: right;
}

.three{
    left: 2px;
    top: 51%;
    float: left;
}

.four{
    right: 2px;
    top: 70%;
    float: right;
}

.five{
    left: 2px;
    top: 89%;
    float: left;
}

.six{
    right: 2px;
    top: 108%;
    float: right;
}

.seven{
    left: 2px;
    top: 127%;
    float: left;
}

.eight{
    right: 2px;
    top: 146%;
    float: right;
}

.nine{
    left: 2px;
    top: 164%;
    float: left;
}

.text1 {
    position: absolute;
    color: black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    left:29%;
    top: 14%;
}

.text2 {
    position: absolute;
    color: black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    left:50%;
    top: 33%;
}

.text3 {
    position: absolute;
    color: black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    left:30%;
    top: 52%;
}

.text4 {
    position: absolute;
    color: black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    left:50%;
    top: 71%;
}

.text5 {
    position: absolute;
    color: black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    left:30%;
    top: 90%;
}

.text6 {
    position: absolute;
    color: black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    left:50%;
    top: 109%;
}

.text7 {
    position: absolute;
    color: black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    left:30%;
    top: 128%;
}

.text8 {
    position: absolute;
    color: black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    left:50%;
    top: 147%;
}

.text9 {
    position: absolute;
    color: black;
    user-select: none;
    font-weight: bold;
    padding: 10px;
    left:30%;
    top: 165%;
}

a {
    text-decoration: none;
    user-select: none;
}