
/* Default setup */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:none;
    user-select: none ;
}

html {
    --cursor-color: #333;
    overflow-y: hidden;
}

html.dark-mode {
    --cursor-color: #fff;
    overflow-y: hidden;
}

.menu-transition {
    transition: transform 6.5s ease-in-out;
    
}  


/* real button */

.reel-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.reel-button svg {
    fill: #000;
    /* Set the color of the play icon */
}

/* underline color and effect  */

.active-underline {
    text-decoration: underline;
    text-decoration-color: #1F2937;
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}

.hover-underline:hover {
    text-decoration: underline;
    text-decoration-color: #1F2937;
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}


/* cursor */

.profile {
    content: " '";
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 160px #fff;
}