
/* Default setup */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:none;
}

html {
    --cursor-color: #333
}

html.dark-mode {
    --cursor-color: #fff
}

.menu-transition {
    transition: transform 6.5s ease-in-out;
    
}  
