$margin: 0px;
$padding: 0px;
$background-color: #757575;


@mixin resize {
    margin:$margin;
    padding:$padding;

}

.Images {
    @include resize;
}

// imagesSize.scss

.image-class-2 {
    max-width: 400px;
    max-height: 400px;
    @include resize;
    float: left;
    margin-left: auto;
 
   
}

.image-class-3 {
    float: right;
    margin-left: auto;
    max-width: 300px;
    max-height: 300px;
    @include resize;
    flex-shrink: 0;
    
}

.form{
    max-height: 300px;
}
